In [13]:
import pandas as pd

In [14]:
travel_dataset = pd.read_csv("data/Prep/Lab_5_dataset_extended.csv")

In [15]:
travel_dataset.head()

,sales_id,age,country,membership_status,previous_purchases,destination,stay_length,guests,travel_month,months_before_travel,earlybird_discount,package_Type,cost,rating,margin,additional_services_cost
0,1,47,Italy,standard,3,Tokyo,8,3,2,2,False,Relaxation,2899.260,6,1865.224666,527.178522
1,2,37,Canada,standard,6,Cairo,4,2,8,1,False,Cultural,986.720,5,880.258498,167.856483
2,3,49,Australia,silver,3,Paris,4,2,12,1,True,Adventure,1610.700,6,914.260333,298.251643
3,4,62,Germany,gold,7,Paris,8,1,12,11,True,Adventure,2155.608,8,1512.805702,415.490184
4,5,36,UK,gold,4,Rio,5,3,8,4,False,Relaxation,1183.840,7,839.050708,200.576767

In [16]:
travel_dataset.shape

(50100, 16)

In [17]:
tokyo = travel_dataset["destination"] == "Tokyo"
travel_dataset.loc[tokyo, "cost"] *= 158

In [18]:
travel_dataset.to_csv("data/input/travel_dataset.csv",index=False)